@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@600&family=Rum+Raisin&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    
}

.header{
    background: url('img/Mask\ Group.png') no-repeat center top;
    background-color: #f9f8ff;
}

.header .nav{
    padding: 25px 60px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-box{
    display: flex;
    align-items: center;
}

.logo-name{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: DM Sans;
    Font-style: medium;
    Font-size: 16px;
    Line-height: 16px;
    Line-height: 100%;
}

.btn{
    text-decoration: none;
    display: block;
    Font-family: DM Sans;
    Font-style: Bold;
    font-size: 14px;
    line-height: 21px;
    line-height: 148%;
    align: Left;
    Vertical-align: top;
    letter-spacing: 2%;
    Fill: Solid;
    color: #57B3FE;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 60px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-textzone{
    margin-top: 104px;
}

.hero-title{
    font-weight: 500;
    font-size: 68px;
    line-height: 120%;
    color: #FFFFFF;
}

.hero-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 8px;
}

.hero > .btn{
    margin-top: 41px;
}

.hero > img{
    display: block;
    margin-top: 25px;
}




.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}


.features > .container{
    padding-top: 180px;
}

.features-label{
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 122%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00A077;
    opacity: 0.5;
    margin-bottom: 24px;

}

.section-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 122%;
    
}

.features__title{
    margin-bottom: 32px;
}

.features__zone{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 32px;
}

.features{
    background: #f9f8ff;
    padding-bottom: 180px;
}


.features__box{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
    padding: 50px 23px 74px 41px;
}

.features__icon{
    background: #FFE7DB;
    box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
    border-radius: 15px;
    padding: 11px;
}

.features__box:nth-child(2) .features__icon{
    background:  #E7F2EF;
}

.features__box:nth-child(3) .features__icon{
    background: #FAF3D8;
}

.features__box:nth-child(4) .features__icon{
    background: #C0F2EF;
}

.features__box:nth-child(5) .features__icon{
    background: #EDE7F2;
}

.features__box:nth-child(6) .features__icon{
    background: #D8F0FA;
}

.features__box h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #3B3E43;
    margin-top: 20px;
}

.features__box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595E64;
    margin-top: 15px;
}





.works{
    background: linear-gradient(70deg, #35D3FF 0%, #A963FB 103%);
    padding: 194px 0 184px;
}

.works .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works__label{
    font-weight: 700;
    font-size: 12px;
    line-height: 122%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 14px;
}

.works-title{
    color: #FFFFFF;
    margin-bottom: 24px;
}

.works__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.work__text__zone{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
    flex-direction: column;
    max-width: 530px;
}


.work__icon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    padding: 13px;
    background: #DAE6FF;
    box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
    border-radius: 15px;
}


.work__icon--folder{
    background: #E9E6FF;
}

.work__icon--document{
    background: #CEEDFF;
}


.work__text__zone h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #3B3E43;

}

.work__text__zone p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595E64;
}


.works__zone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


.works__box{
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
    position: relative;
    flex: auto;
    padding-bottom: 20px;
    padding-right: 15px;
}


.work__box__img{
    position: relative;
    flex-basis: 50%;
    height: 323px;
}

.work__img--1{
    position: absolute;
    top: 106px;
    left: 32px;
}

.work__img--2{
    position: absolute;
    top: 30px;
    left: 91px;
}
.work__img--3{
    position: absolute;
    bottom: -12px;   
    left: 270px;
}
.work__img--4{
    position: absolute;
    top: 34px;
    left: 28px;
}
.work__img--5{
    position: absolute;
    top: 96px;
    left: 251px;
}
.work__img--6{
    position: absolute;
    top: 24px;
    left: 26px;
}
.work__img--7{
    position: absolute;
    top: 12px;
    left: 305px;
}
.work__img--8{
    position: absolute;
    top: 112px;
    left: 190px;
}













.brand{
    margin-top: 100px;
    padding: 40px 100px;
}


.brand__table{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'c d e f g'
    'h i j k l'
    '. n n n .';
    place-items: center center;
}


.texts{
    text-align: center;
}

.brand__subtitle{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 122%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00A077;
    opacity: 0.5;
    font-size: 8px;
}

.brand__h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 122%;
    text-align: center;
    color: #3B3E43;
}
.item-3{
    grid-area: c;
}
.item-4{
    grid-area: d;
}
.item-5{
    grid-area: e;
}
.item-6{
    grid-area: f;
}
.item-7{
    grid-area: g;
}
.item-8{
    grid-area: h;
}
.item-9{
    grid-area: i;
}
.item-10{
    grid-area: j;
}
.item-11{
    grid-area: k;
}
.item-12{
    grid-area: l;
}
.item-13{
    grid-area: n;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    color: #424A4D;
    font-size: 10px;
}

.semi-footer{
    height: 820px;
    margin-top: 100px;
    background: url(img/card3.png) top 150px right 180px / 275px 305px no-repeat, 
                url(img/research.png) top 318px right 205px / 410px 310px no-repeat, 
                url(img/time2.png) top 180px right 300px / 435px 227px no-repeat,
                url(img/bgglass.png) top 151px right 163px / 500px 400px no-repeat,
                linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%); 
}

.semi-footer .container{
    display: flex;
    padding: 150px;
    align-items: center;
    justify-content: space-between;
}

.start__text__area{
    max-width: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.start__label{
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 122%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 24px;
}

.start__text__area h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 122%;
    color: #FFFFFF;
}


.start__text__area p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 30px;    
}



.footer{  
    background: #000;
    padding: 84px 0 35px;
    color: rgba(255, 255, 255, 0.8);
}


.footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}


.footer__logo img{
    width: 70px;
}

.footer__logo{
    opacity: 0.8;
}

.footer .nav-link{
    opacity: 0.8;
}

.footer__social{
    display: flex;
    gap: 20px;
}


.footer__links a{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;

}

.footer__copy{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.footer__links{
    display: flex;
    gap: 24px;
}